* {
    box-sizing: border-box;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

.small-icon {
    width: var(--encore-text-size-smaller);
    height: var(--encore-text-size-smaller);
}

.medium-icon {
    width: var(--encore-text-size-base);
    height: var(--encore-text-size-base);
}

.large-icon {
    width: var(--encore-text-size-larger);
    height: var(--encore-text-size-larger);
}




.small-icon,
.medium-icon,
.large-icon {
    display: inline-block;
    transition: fill 0.3s ease;
    transform: scale(1);
    transform-origin: center;
    will-change: fill;
    overflow: hidden;
    user-select: none;
    box-sizing: border-box;
    margin: 0 0;
    padding: 0;
    border: none;
    background-color: transparent;
    box-shadow: none;
    outline: none;
}

.no-items-message {
    width: 100%;
    height: 100%;
}

.no-items-container {
    height: 100%;
    color: white;
    font-size: 12px;
    font-weight: 700;
    gap: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.no-items-container img {
    width: 70px;
    height: 70px;
}