.container {
    padding: 16px;

    &__title {
        text-align: center;
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 10px;
        margin-bottom: 40px;
        color: white;
    }

    &__subtitle {
        font-size: 16px;
        font-weight: 400;
        text-align: center;
        line-height: 1.5;
    }

    &__content {
        width: auto;
        max-width: none;
        float: none;
        

        ol {
            box-sizing: border-box;
            position: relative;
            display: grid;
            padding: 0 72px;
            display: grid;
            grid-gap: 36px;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            list-style: none;

            @container (max-width: 767px) {
                padding: 16px;
                grid-template-columns: repeat(auto-fill, minmax(100%, 1fr)); 
            }
        }
    }
}
