.container {
    list-style: none;
    border-radius: 8px;
    cursor: pointer;

    .imageContainer {
        position: relative;
        height: 0;
        padding-bottom: 55%;

        overflow: hidden;
        border-radius: 8px;

        &:hover .overlayContainer {
            opacity: 1;
            visibility: visible;
        }

        figure, video {
            margin: 0;
            position: relative;
            overflow: hidden;
            aspect-ratio: 16 / 9;
            width: 100%;

            img, source {
                width: 100%;
                height: 100%;
                // object-fit: cover;
                border-radius: 8px;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                left: 0;
                transition: transform 0.3s ease-in-out;
                z-index: 1;

                &:hover {
                    transform: scale(1.05);
                }
            }
        }



        a {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            span {
                position: absolute;
                width: 0;
                overflow: hidden;
                opacity: 0;
            }
        }
    }

    .infoContainer {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: space-between;
        margin-top: 8px;

        &__inner {
            display: flex;
            align-items: center;
            min-width: 0;
            width: 100%;

            &__actions {
                display: flex;
                align-items: center;
                gap: 10px;
            }

            &__url {
                display: flex;
                align-items: center;
                min-width: 0;
                width: 100%;
                gap: 10px;

                img {
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }
        }
    }
}

.overlayContainer {
    display: flex;
    z-index: 2;
    align-items: flex-end;
    padding: 20px;
    border-radius: 8px;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    background-color: rgba(0, 0, 0, 0.5);

    &__inner {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: space-between;
        min-width: 0;

        &__title {
            color: #fff;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            line-height: 22px;
            font-weight: 700;
            font-size: 18px;
        }

        &__actions {
            display: flex;
            position: absolute;
            list-style: none;
            top: 0;
            right: 0;
            left: 0;
            align-items: center;
            justify-content: flex-end;
            height: 40px;
            padding: 0 12px;
        }
    }
}
